body{
    margin: 0;
    font-family: sans-serifs;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://media.istockphoto.com/id/1411846592/photo/mountains-in-low-dense-fog-at-morning-sunrise-beautiful-landscape-with-mountain-peaks-in-fog.jpg?b=1&s=170667a&w=0&k=20&c=DPlaHpdGDq5dfTjE6JNUGr3BTRBYTMpQI-ai12mU4Qg=");
    background-size: cover;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color:aliceblue;
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    background: rgb(186, 126, 119);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);

}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(210, 38, 19);
    opacity: 0.8;

}

.clock #ampm{
    bottom: 1;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: gray;

}